# Documentation
mkdocs-material
mkdocs-markmap

# RAG Tutorial: Install Packages
azure-ai-projects
azure-ai-inference[prompts]
azure-identity
azure-search-documents
pandas
python-dotenv
opentelemetry-api

# Fix: Enable logging of telemetry
# Fixes Error: `No module named 'azure.core.tracing.ext.opentelemetry_span`
azure-core
azure-monitor-opentelemetry

# Fix: Needed to resolve azure ai evaluation
#azure-ai-evaluation[prompts]
azure-ai-evaluation[remote]

# Fix: Needed for FastAPI and deployment
fastapi
fastapi[standard]
requests
gunicorn==21.2.0